.input-sigin{
    width:300px;
   
  }

  .login-form{
    border: solid;
     box-shadow: 5px 3px 5px 3px ;
     margin-left:420px;
     height:100%;
    
    }

    .input-sigin{
        width:300px;
       
      }



    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {

        margin-top: 0;
        padding-top: 30px;
        font-size: 4rem;
    
    }